<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237682612196-9nvp6tsam2c6g1nlc9tosva2al88qrrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237682612196-9nvp6tsam2c6g1nlc9tosva2al88qrrh</string>
	<key>API_KEY</key>
	<string>AIzaSyAsFBGLq-8SjyVKbKYOpDx2wGgXL2DU3kA</string>
	<key>GCM_SENDER_ID</key>
	<string>237682612196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Teo-Hughes.AthleticsScorer</string>
	<key>PROJECT_ID</key>
	<string>athleticsscorer</string>
	<key>STORAGE_BUCKET</key>
	<string>athleticsscorer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237682612196:ios:ef0daf6867dddac393d9f1</string>
</dict>
</plist>